{:tasks
 {test
  {:doc "Regression tests done against local docs repo"
   :task
   (do
     (shell "node rdf_export.mjs docs.ttl -d ../docs")
     ;; Fixtures are from 16a5f81178a0f2d79113aa5f525c768a51fc0972 of https://github.com/logseq/docs
     (shell "diff test/fixtures/docs.ttl docs.ttl")
     (shell "ttl docs.ttl")
     (shell "node rdf_export.mjs docs-with-labels.ttl -d ../docs --add-labels -c '{:exclude-properties [:initial-version :description]}'")
     (shell "diff test/fixtures/docs-with-labels.ttl docs-with-labels.ttl")
     (shell "ttl docs-with-labels.ttl")
     (println "Success!"))}}}
