{:tasks
 {test
  {:doc "Regression tests done against local docs repo"
   :task
   (do
     (shell "node rdf_export.mjs docs.ttl -d ../docs")
     ;; Fixtures are from b8ed1ce807117e03afeba75a2b276e28b63b2710 of https://github.com/logseq/docs
     (shell "diff docs.ttl test/fixtures/docs.ttl")
     (shell "ttl docs.ttl")
     (shell "node rdf_export.mjs docs-with-labels.ttl -d ../docs --add-labels -c '{:exclude-properties [:initial-version :description]}'")
     (shell "diff docs-with-labels.ttl test/fixtures/docs-with-labels.ttl")
     (shell "ttl docs-with-labels.ttl")
     (println "Success!"))}}}
