{:deps
 {org.babashka/cli {:mvn/version "0.6.46"}
  logseq/graph-parser
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "eed5c8bce43d5235dd1936e72d60fae2b0cd03bb"
   :deps/root "deps/graph-parser"}
  #_{:local/root "../logseq/deps/graph-parser"}}}
