{:deps
 {org.babashka/cli {:mvn/version "0.6.46"}
  logseq/graph-parser
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "82cf4d3c65acbf230a3170640fe271dd74095067"
   :git/tag "0.9.8"
  #_{:local/root "../logseq/deps/graph-parser"}}}
